ForneyLab.jl
bundle/
*.gif
.ipynb_checkpoints
Untitled.ipynb
.DS_store
lessons/notebooks/probprog/archive
lessons/Manifest.toml
lessons/notebooks/probprog/workspace/Manifest.toml



### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
.vscode/**/*
